<div style="display:none">  <svg xmlns="http://www.w3.org/2000/svg">
  <symbol id="icon-usermenu" viewBox="0 0 43.2227 43.2212">
    <g>
      <path d="M39.0645,21.6108c0-2.6948,1.6592-4.8223,4.1582-6.2842c-0.4502-1.5044-1.0469-2.9453-1.7803-4.3017 c-2.8017,0.7329-5.0683-0.3643-6.9746-2.2705c-1.9053-1.9053-2.4892-4.1739-1.7559-6.9746C31.3555,1.0459,29.9151,0.4497,28.4102,0 c-1.4629,2.4985-4.1035,4.1567-6.7988,4.1567S16.2754,2.4985,14.8125,0c-1.5039,0.4492-2.9443,1.0459-4.3007,1.7793 c0.7324,2.8012,0.1494,5.0688-1.7559,6.9751c-1.9063,1.9062-4.1748,3.0034-6.9756,2.2714C1.0469,12.3813,0.4502,13.8222,0,15.3266 c2.4991,1.4619,4.1573,3.5894,4.1573,6.2842c0,2.6943-1.6582,5.3359-4.1573,6.7983c0.4502,1.5044,1.0469,2.9454,1.7803,4.3018 c2.8018-0.7329,5.0693-0.1494,6.9756,1.7564c1.9053,1.9062,2.4883,4.1738,1.7559,6.9746c1.3564,0.7334,2.7968,1.3305,4.3017,1.7793 c1.4629-2.4981,4.1026-4.1573,6.7979-4.1573s5.3359,1.6592,6.7988,4.1573c1.5049-0.4493,2.9453-1.0459,4.3017-1.7803 c-0.7324-2.7998-0.1494-5.0674,1.7559-6.9736c1.9063-1.9058,4.1738-3.004,6.9746-2.271c0.7334-1.3565,1.3301-2.7974,1.7803-4.3018 C40.7237,26.4326,39.0645,24.3051,39.0645,21.6108z M21.6114,31.0092c-5.1905,0-9.3985-4.208-9.3985-9.3984 c0-5.1909,4.208-9.3984,9.3985-9.3984c5.1904,0,9.3984,4.2075,9.3984,9.3984C31.0098,26.8012,26.8018,31.0092,21.6114,31.0092z"></path>
    </g>
  </symbol>

	<symbol viewBox="0 0 18.5177 18.5177" id="icon-support-idle">
		<g>
			<path d="M10.3174,1.2871C9.1279,0.4292,7.6338,0,5.8359,0C4.4668,0,3.3135,0.3023,2.375,0.9058
				C0.8867,1.8511,0.0947,3.4556,0,5.7192h3.4492c0-0.6586,0.1924-1.2939,0.5772-1.9062c0.3847-0.6113,1.0371-0.917,1.958-0.917
				c0.9365,0,1.582,0.2481,1.9345,0.7441C8.2725,4.1372,8.4492,4.687,8.4492,5.2905c0,0.5245-0.2637,1.0054-0.5801,1.4419
				C7.6943,6.9868,7.4648,7.2212,7.1787,7.4356c0,0-1.8701,1.1997-2.6914,2.1635c-0.4766,0.5591-0.5195,1.396-0.5615,2.5972
				c-0.003,0.0854,0.0303,0.2617,0.3291,0.2617s2.417,0,2.6826,0c0.2666,0,0.3213-0.1982,0.3252-0.2842
				c0.0185-0.4375,0.0684-0.6606,0.1475-0.9135c0.1503-0.4766,0.5605-0.8936,1.0205-1.251L9.3809,9.354
				c0.8564-0.6675,1.54-1.2158,1.8418-1.6445c0.5166-0.707,0.8789-1.5772,0.8789-2.6094C12.1016,3.4165,11.5059,2.145,10.3174,1.2871z
				 M5.7803,14.5254c-1.1885-0.0356-2.17,0.7871-2.2071,2.0762c-0.0371,1.289,0.8955,2.1406,2.084,2.1753
				c1.2412,0.0371,2.1963-0.7588,2.2334-2.0479C7.9277,15.44,7.0215,14.562,5.7803,14.5254z"></path>
		</g>
	</symbol>

	<symbol viewBox="0 0 18.5177 18.5177" id="icon-map-idle">
		<g>
			<path d="M5.1289,0C2.2959,0,0,2.2964,0,5.1289c0,4.898,5.1289,11.2852,5.1289,11.2852s5.1299-6.3872,5.1299-11.2852
				C10.2588,2.2964,7.9619,0,5.1289,0z M5.1289,7.961c-1.5303,0-2.7695-1.2403-2.7695-2.77c0-1.5298,1.2392-2.7701,2.7695-2.7701
				S7.8994,3.6612,7.8994,5.191C7.8994,6.7207,6.6592,7.961,5.1289,7.961z"></path>
		</g>
	</symbol>

	<symbol viewBox="0 0 22.5177 18.5177" id="icon-forum-idle">
		<g>
			<path d="M6.4443,12.4443V5.5556H2.2217C1,5.5556,0,6.5556,0,7.7778v6.6665c0,1.2222,1,2.2222,2.2217,2.2222H3.333
				V20l3.333-3.3335h5.5557c1.2226,0,2.2226-1,2.2226-2.2222v-2.0225c-0.0722,0.0147-0.1464,0.0225-0.2226,0.0225H6.4443z M20,0H10
				C8.7773,0,7.7773,1,7.7773,2.2221v8.8887h7.7784l3.333,3.3335v-3.3335H20c1.2217,0,2.2217-1,2.2217-2.2222V2.2221
				C22.2217,1,21.2217,0,20,0z"></path>
		</g>
	</symbol>

	<symbol viewBox="0 0 50.0052 50.0051" id="icon-search-lg">
		<g>
      <path d="M48.8809,42.3057l-11.959-11.959c1.8027-2.9629,2.8418-6.4419,2.8418-10.1641
			C39.7637,9.3696,30.3936,0,19.5791,0C8.7666,0,0,8.7666,0,19.5806C0,30.394,9.3701,39.7627,20.1816,39.7627
			c3.5958,0,6.9629-0.9736,9.8584-2.6651l12.0245,12.025c1.1767,1.1767,3.0839,1.1767,4.2597,0l2.9834-2.982
			C50.4844,44.9639,50.0576,43.4824,48.8809,42.3057z M6.0254,19.5806c0-7.4873,6.0693-13.5562,13.5537-13.5562
			c7.4883,0,14.1592,6.6709,14.1592,14.1582c0,7.4863-6.0693,13.5557-13.5567,13.5557C12.6963,33.7383,6.0254,27.0674,6.0254,19.5806
			z"></path>
		</g>
	</symbol>
</svg></div>
